<div class="carousel-container" *ngIf="!isLoading">
  <div class="flex carousel-item" *ngIf="size !== 'large'">
    <div class="card-movie" *ngFor="let movie of movies" (click)="onClickMovie(movie.id)">
      <div class="poster-wrap ml-5">
        <img [src]="getPosterPath(movie)" class="card-img-top" alt="Movie Poster" />
        <span class="rating-badge flex items-center" *ngIf="movie?.vote_average">
          <i-feather name="star" class="fill-star filled"></i-feather>
          <span class="text-[12px]">{{ movie.vote_average.toFixed(1) }}</span>
        </span>
      </div>
      <p class="card-title">{{ movie?.title }}</p>
    </div>
  </div>

  <div class="flex carousel-item gap-[20px]" *ngIf="size === 'large'">
    <div class="w-[300px]" *ngFor="let movie of movies" (click)="onClickMovie(movie.id)">
      <div class="poster-wrap poster-wrap-large ml-5">
        <img [src]="getPosterPath(movie)" class="card-img-top card-movie-large" alt="Movie Poster" />
        <span class="rating-badge flex items-center" *ngIf="movie?.vote_average">
          <i-feather name="star" class="fill-star filled"></i-feather>
          <span class="text-[12px]">{{ movie.vote_average.toFixed(1) }}</span>
        </span>
      </div>
      <p class="card-title card-title-large">{{ movie?.title }}</p>
    </div>
  </div>
</div>

<div *ngIf="isLoading"
  class="flex items-center justify-center h-52 mr-5 ml-5 max-w-sm card-skeleton rounded-lg animate-pulse">
  <span class="sr-only">Loading...</span>
</div>