<div *ngIf="isLoading" class="skeletons">
  <div class="skeleton-card" *ngFor="let s of [1,2,3]">
    <div class="skeleton-thumb"></div>
    <div class="skeleton-body">
      <div class="skeleton-line skeleton-line--title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line skeleton-line--short"></div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading" class="cards-list">
  <div *ngFor="let movie of movies" class="fav-card" (click)="onClickMovie(movie.id)">

    <img
      class="fav-card__poster"
      [src]="getPosterPath(movie)"
      [alt]="movie.title"
    />

    <div class="fav-card__body">
      <div class="fav-card__top">
        <h2 class="fav-card__title">{{ movie.title }}</h2>

        <div class="fav-card__rating">
          <i-feather name="star" class="star-icon"></i-feather>
          <span>{{ movie.vote_average.toFixed(1) }}</span>
        </div>
      </div>

      <div class="fav-card__meta">
        <span class="meta-pill" *ngIf="movie.genres?.length">
          {{ movie.genres[0].name }}
        </span>
        <span class="meta-pill">
          <i-feather name="clock"></i-feather>
          {{ convertRuntime(movie.runtime) }}
        </span>
      </div>

      <p class="fav-card__company" *ngIf="movie.production_companies?.length">
        {{ movie.production_companies[0].name }}
      </p>

      <div class="fav-card__footer">
        <div class="stars">
          <i-feather
            name="star"
            *ngFor="let star of [2,4,6,8,10]"
            class="fill-star"
            [class.filled]="star <= movie.vote_average"
          ></i-feather>
        </div>

        <button
          class="btn-delete"
          (click)="$event.stopPropagation(); deleteFavorite(movie)"
          aria-label="Remover favorito"
        >
          <i-feather name="trash-2"></i-feather>
        </button>
      </div>
    </div>

  </div>
</div>