.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #292c53;
  width: 80%;
  border-radius: 10px;
  color: #e6e6e6;
  max-height: 550px;
  overflow: hidden;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
